# DATABASE
DATABASE_NAME =
DATABASE_USER =
DATABASE_PASSWORD =
DATABASE_HOST =
DATABASE_PORT =

# OAUTH
OAUTH_CLIENT_ID =
OAUTH_PROJECT_ID =
OAUTH_AUTH_URI =
OAUTH_TOKEN_URI =
OAUTH_AUTH_PROVIDER =
OAUTH_AUTH_SECRET =
OAUTH_REDIRECT_URIS =

# FIREBASE
FIREBASE_TYPE = 
FIREBASE_PROJECT_ID = 
FIREBASE_PROJECT_KEY_ID = 
FIREBASE_PROJECT_KEY 
FIREBASE_CLIENT_EMAIL = 
FIREBASE_CLIENT_ID = 
FIREBASE_AUTH_URI = 
FIREBASE_TOKEN_URI = 
FIREBASE_AUTH_PROVIDER_CERT = 
FIREBASE_CLIENT_CERT = 
FIREBASE_DOMAIN = 

# STRIPE
STRIPE_SECRET_KEY =
STRIPE_PUBLISHABLE_KEY =

# JWT
JWT_SECRET =
JWT_ACCESS_TOKEN_EXP =
JWT_REFRESH_TOKEN_EXP =

# REDIS

REDIS_DEFAULT = 'redis://127.0.0.1:6379/1'
REDIS_URL = 'redis://default:lwxjcWWc7yyDRK6SWLMHXXF00D4ZuRbz@redis-19890.c92.us-east-1-3.ec2.redns.redis-cloud.com:19890'